---
import { Image } from "astro:assets";

const imageFiles = await Astro.glob("../assets/*");
// get all the file names from the assets folder
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/Favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Gavel Connect | Assets" />
    <title>Gavel Connect</title>
  </head>
  <div
    class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-3 mb-5 mx-auto w-full px-4"
  >
    {
      imageFiles.map((img) => (
        <div class="flex flex-col gap-2 items-centre">
          <Image
            src={img.default}
            width="600"
            alt={img.default}
            class="mb-3 w-full rounded"
          />
          <p class="text-center" />
        </div>
      ))
    }
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const images = document.querySelectorAll("img");
      images.forEach((image) => {
        let regex = RegExp("(?<=F)[a-z]+.svg", "i");
        if (image.src.includes("astro/")) {
          regex = RegExp(/(?<=astro\/)[a-z]+/gi, "gi");
        }
        // set the sibling paragraph text to the result of the regex
        let match = regex.exec(image.src);
        if (match && match[0]) {
          console.log(match[0]);
          // remove the F from the front of the file name. Weird regex workaround
          (image.nextElementSibling as HTMLElement).innerText = match[0];
        }
      });
    });
  </script>


</html>
