---
import { SEO } from "astro-seo";
import { Image } from "astro:assets";

import light from "../assets/V5LightShadow.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/V5Light.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Gavel Connect" />
    <title>Gavel Connect</title>
  </head>

  <body
    class="bg-gradient-to-br from-pink-300 to-green-300 w-full h-screen flex flex-row items-center justify-center"
  >
    <Image
      src={light}
      alt="Gavel Connect Logo"
      id={"logo"}
      densities={[1.5, 2]}
      class={"w-1/2 md:w-1/4"}
      loading="eager"
    />
  </body>
</html>
