@tailwind base;
@tailwind components;
@tailwind utilities;
.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-y-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Show scrollbar on hover */
.scrollbar-show:hover::-webkit-scrollbar {
  display: block;
}

.scrollbar-show:hover {
  scrollbar-width: thin; /* Firefox */
}

@layer base {
  html {
    font-family: "Inter Variable", system-ui, sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(69 69 69 / var(--tw-bg-opacity));
  }
}

.bg-abbey-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(69 69 69 / var(--tw-bg-opacity));
}
